* {
  margin: 0px;
  padding: 0;
}

@media screen and (max-width: 400px) {
  header {
    flex-direction: column;
    text-align: center;
    position: fixed;
  }

  #logo-container {
    flex: 1;
  }
  nav {
    flex-wrap: wrap;
  }
  .nav-item {
    min-width: 70vw;
    padding: 20px;
  }
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  border: 1px solid;
}
#logo {
  height: 80px;
}

#logo-container {
  padding-left: 10px;
  border-right: 1px solid;
}

nav {
  min-width: calc(100vw - 150px);
  display: flex;
  margin: 30px;
  justify-content: space-between;
}

.nav-item {
  flex: 1;
  justify-content: flex-end;
}

#promotion {
  height: 150px;
}

#categories-container {
  display: flex;
  flex-wrap: wrap;
}

.category-box {
  flex: 1;
}

.category-image {
}

.category-description {
}

footer {
  display: flex;
}
#footer-logo {
  flex: 1;
}

#footer-copyright {
  flex: 1;
}
