@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@200&display=swap");

* {
  font-family: "Raleway", sans-serif;
  margin: auto;
  font-size: 18px;
 

 
}

@media screen and (max-width: 400px) {
  header {
    flex-direction: column;
    text-align: center;
    position: fixed;
  }

  @keyframes my-fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  #logo-container {
    flex: 1;
  }
  nav {
    flex-wrap: wrap;
  }
  .nav-item {
    min-width: 70vw;
    padding: 20px;
  }

}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index:9999;

}
#logo {
  height: 80px;
}

#logo-container {
  padding-left: 10px;
  
}

nav {
  min-width: calc(100vw - 150px);
  display: flex;
  margin: 30px;
  justify-content: space-between;
}

.nav-item {
  flex: 1;
  justify-content: flex-end;
}

#promotion {
  position:relative;
  animation: my-fade-in 4s ease-in;
 

}

#promotion > img {
    width:100%;
    
}

#promotion > p{
    position:absolute;
    top:50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color:lightgray;
    font-size: 4vmin;
    font-weight: 600;
    background-color: rgba(47, 79, 79, 0.9);/* darkslategray;*/
    border-radius:1vmin;
    padding:2vmin;
    min-width: 70vmin

}

button {
   outline:none;
   padding:2vmin;
   font-weight: bold;
   font-size:3vmin;
   margin:1vmin;
   color:slategray;
   background-color:white;
   border-radius: 1vmin;
   border:2px solid;
   border-color: lightgray;
}
button:hover{
    background-color: white;
    color:darkslategray;
   
}

#categories-container {
  display: flex;
  flex-wrap: wrap;
}

.category-box {
  flex: 1;
}

.category-image {
}

.category-description {
}

footer {
  display: flex;
}
#footer-logo {
  flex: 1;
}

#footer-copyright {
  flex: 1;
}
