@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@200&display=swap");

* {
  font-family: "Raleway", sans-serif;
  margin: auto;
  font-size: 18px;
  background-color: darkslategray;
  color: white;
}

@media screen and (max-width: 400px) {
  header {
    flex-direction: column;
    text-align: center;
    position: fixed;
  }

  .logo-container {
    flex: 1;
  }
  nav {
    flex-wrap: wrap;
  }
  .nav-item {
    min-width: 70vw;
    padding: 20px;
  }
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  font-weight: bold;
  border-bottom: coral 3px solid;
  z-index: 9999;
}
.logo {
  height: 80px;
}

#logo-container {
  padding-left: 10px;
}

nav {
  min-width: calc(100vw - 150px);
  display: flex;
  margin: 30px;
  justify-content: space-between;
}

.nav-item {
  flex: 1;
  justify-content: flex-end;
}
a {
  text-decoration: none;
}
a:hover {
  color: coral;
}

#promotion {
  position: relative;
  background-color: coral;
  animation: "my-fade-in" 4s;
}

@keyframes my-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#promotion > img {
  width: 100%;
  animation: my-fade-in 4s;
}

#promotion > p {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: lightgray;
  font-size: 4vmin;
  font-weight: 600;
  background-color: rgba(47, 79, 79, 0.9); /* darkslategray;*/
  border-radius: 1vmin;
  padding: 2vmin;
  min-width: 70vmin;
  animation: my-fade-in 4s;
}

button {
  outline: none;
  padding: 2vmin;
  font-weight: bold;
  font-size: 3vmin;
  margin: 1vmin;
  color: darkslategray;
  background-color: coral;
  border-radius: 1vmin;
  border: 2px solid;
  border-color: lightgray;
}
button:hover {
  background-color: lightgray;
  color: darkslategray;
  border-color: coral;
}

#categories-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5vmin;
  gap: 5vmin;
  min-height: calc(100vh - 275px);
  align-items: flex-start;
}

.category-box {
  flex: 0 1 0;
}

.category-box img {
  width: 40vmin;
  height: 40vmin;
  border-radius: 1vmin;
}

.category-box h2 {
  margin-top: 10px;
  font-size: larger;
  font-weight: bold;
 
}


.category-box a {
  font-weight: bolder;
  color: coral;
  font-size: medium;
  display:block;
}

.category-box a::after{
    content:" >>";
}

footer {
  display: flex;
  border-top: coral 2px solid;
  padding-top: 5px;
}
#footer-logo {
  flex: 1;
  text-align: right;
  padding-right: 10px;
}

#footer-copyright {
  flex: 1;
}
